# JEZZBALL NES - NROM-128: 16KB PRG @ $C000 + 8KB CHR
MEMORY {
    ZP:     start = $0000, size = $0100, type = rw;
    HEADER: start = $0000, size = $0010, file = %O, fill = yes;
    PRG:    start = $C000, size = $3FFA, file = %O, fill = yes;
    VECT:   start = $FFFA, size = $0006, file = %O, fill = yes;
    CHRROM: start = $0000, size = $2000, file = %O, fill = yes;
}
SEGMENTS {
    ZEROPAGE: load = ZP,     type = zp;
    HEADER:   load = HEADER, type = ro;
    CODE:     load = PRG,    type = ro;
    RODATA:   load = PRG,    type = ro;
    VECTORS:  load = VECT,   type = ro;
    CHR:      load = CHRROM, type = ro;
}
